<%- partial('_partial/head') %>
<body>
  <%- partial('_partial/header', null, {cache: !config.relative_link}) %>
  <div class="site-main">
    <div class="container wrapper">

      <section id="main"><%- body %></section>

      <% if (theme.sidebar && theme.sidebar !== 'bottom'){ %>
        <%- partial('_partial/sidebar', null, {cache: !config.relative_link}) %>
      <% } %>
    </div>
  </div>

  <%- partial('_partial/footer', null, {cache: !config.relative_link}) %>

  <%- partial('_partial/after-footer') %>

</body>
</html>
